/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #040c18;
  padding: 0 2rem 8rem 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

h4{
  font-family: "ManropeLight", sans-serif;
  color: #71e5ff;
}

h5{
  font-family: "ManropeBold", sans-serif;
  color: #000;
}

h6{
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h7{
  font-family: "ManropeLight", sans-serif;
  font-size: 12px;
  color: #fff;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("../images/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #031b34;
}

.header .header-logo {
  width: 162px;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  min-height: 60vh;
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* Секция брендов */

.brands_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../images/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 3rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

/* .future_here .future_here__left .left__header {
} */

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}
/* Медиа запросы для адаптива */

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}

/* Будущее наступило новое */

.future_here_new
{
  display: flex;
  column-gap: 6rem;
  margin: 0 0 10rem;
}

.future_here_new .left_container_future
{
  position: relative;
  width: 50%;    /* Установите нужную ширину контейнера */
  height: 100%;
  padding: 0 2rem 0;
}

.future_here_new .right_container_future
{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15rem 1rem 2rem;
}

.future_here_new .right_container_future .time-dostup
{
  margin-bottom: 10px;
}

.future_here_new .right_container_future .right_future_here
{
  margin-bottom: 23px;
}

.future_here_new .right_container_future .new_future_description
{
  color: #81afdd;
  margin-bottom: 31px;
}

.future_here_new .right_container_future .time_dostup_orange
{
  color: #ff8a71;
}

/* early access */

.early_access {
  display: flex;
  margin-bottom: 10rem;
}

.early_access .fon_gradient {
  width: 100%;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  display: flex;
  border-radius: 10px;
}

.early_access .fon_gradient .left_gradient {
  width: 60%;
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  padding: 20px;
}

.early_access .fon_gradient .left_gradient .head_text {
  color: #0e0e0e;
  font-size: 12px;
  padding-top: 1.5rem;
}

.early_access .fon_gradient .left_gradient .osn_text {
  font-size: 24px;
}

.early_access .fon_gradient .right_gradient {
  width: 40%;
  display: flex;
  padding: 4rem 2rem 4rem 15rem;
}

.early_access .fon_gradient .right_gradient .start_btn {
  background-color: #000;
  color: #fff;
  padding: 1rem 4rem; 
  border: none;
  cursor: pointer;
  border-radius: 40px;
}


/* Blog */

.Blog{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 8rem;
}

.Blog .Head_Text{
  font-size: 62px;
  width: 100%;
  padding: 0 30rem 7rem 0;
}

.Blog .Blog_Bottom{
  display: flex;
  gap: 3rem;
}

.Blog .Blog_Bottom .Blog_Left{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.Blog .Blog_Bottom .Blog_Left .blog_left_img{
  width: 100%;
}

.Blog .Blog_Bottom .Blog_Left .text_left_back{
  background-color: #042c54;
  padding: 2rem 2rem 1.5rem 1.5rem;
  flex-grow: 1;
}

.Blog .Blog_Bottom .Blog_Left .text_left_back .text_left2{
  padding-bottom: 11rem;
}

.Blog .Blog_Bottom .Blog_Right{
  flex: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 3rem;
}

.Blog .Blog_Bottom .Blog_Right .blog_item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blog .Blog_Bottom .Blog_Right .blog_item img{
  width: 100%;
}

.Blog .Blog_Bottom .Blog_Right .blog_item .blog_item_right{
  background-color: #042c54;
  padding: 0.5rem 1rem 1rem 1.5rem;
}

.Blog .Blog_Bottom .Blog_Right .blog_item .blog_item_right .blog_text{
  padding-bottom: 1rem;
}

/* Last */

.Last{
  background-color: #031b34;
  width: 100%;
}

.Last .Last_Head{
  padding: 11rem 16rem 4rem 16rem;
}

.Last .Last_Head .Header_Last{
  text-align: center;
}

.Last .Last_Button{
  padding: 0 32rem 11rem 32rem;
  /* border: 2px solid #fff; */
}

.Last .Last_Button .Last_Button1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 1.25rem;
}

.Last .Last_End{
  display: flex;
  width: 100%;
  padding: 0 8.5rem 5rem 11.6rem;
  gap: 20rem;
}

.Last .Last_End .Left_End{
  display: flex;
  flex-direction: column;
  flex: 1
}

.Last .Last_End .Right_End{
  display: flex;
  flex: 4;
  gap: 5rem;
}

.Last .Last_End .column {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Расстояние между элементами внутри колонки */
}

.Last .Last_End .column h3 {
  margin-bottom: 0.5rem; /* Отступ для заголовков */
  font-weight: bold; /* Дополнительно для акцента */
}

.Last .Last_End .column h7 {
  margin-bottom: 0.5rem; /* Отступ между текстовыми элементами */
  line-height: 1.4; /* Расстояние между строками внутри элементов */
}